/*Darkmoder*/
$bgc-light: rgba(0 0 0 / 0%);
$bgc-footer: #f0f0f0;
$color-black: #000;
$color-orange: #f9ce31;
$color-font: #020412;
body{
    transition: all 0.7s ease;
    &.darkmoder{
        font-family: $roboto;
        background-color:$bgc-light;
        nav ul li{
            a{
                color: $color-font;
                font-weight: bold;
                &:hover{
                    color: $color-orange;
                }
            }
        }
        h2{
            color: $color-font;
        }
        .parallax{
            box-shadow: 0 5px 10px #000;
        }
        main article{
            color: $color-font;
        }
        .bars__menu span{
            background-color: $color-font;
        }
        ul.active{
        background-color: $color-white;
        }
        .logo{
            position: relative;
            background: $color-black;
            border-radius: 50%;
            padding: 10px;
            top: -25px
        }
        .top-btn{
            background-color: $bgc;
            .fas.fa-arrow-up{
                color: #fff;
            }
        }
        #portfolio{
            h2{
                color: $color-font;
            }
            .card .back{
                box-shadow: 0 5px 10px #000;
            }
        }
        .form{
            background-color: rgba(250,250,250,.8);
            box-shadow: 0 5px 10px #000;
            .text-name{
                color: $color-font !important;
            }
            input{
                background-color: $color-white;
                color: $color-font;
            }
        }
        input:-webkit-autofill,
        input:-webkit-autofill:hover, 
        input:-webkit-autofill:focus,
        textarea:-webkit-autofill,
        textarea:-webkit-autofill:hover,
        textarea:-webkit-autofill:focus,
        select:-webkit-autofill,
        select:-webkit-autofill:hover,
        select:-webkit-autofill:focus {
        border:none;
        caret-color: rgb(71, 7, 7);
        -webkit-text-fill-color: rgba(0, 0, 0);
        /* -webkit-box-shadow: 0 0 0px 1000px white inset; */
        transition: background-color 5000s ease-in-out 0s;
        }
        footer{
            background-color: $bgc-footer;
            box-shadow: 0 5px 10px #000;
            border-radius: 50px;
            width: 90vw;
            .fab.fa-github{
                color: #fff;
                background-color: #000;
                border-radius: 50%;
            }
            p{
                color: $color-font;
                font-weight: bold;
            }
        }
    }
}
    