@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:ital@1&display=swap');
@font-face {
    font-family: 'Roboto';
    src: url('assets/resources/fonts/Roboto/Roboto-Medium.ttf');
}
/* variables */
/* Colors */
$bgc: #020412;
$padding-container: 1rem 2rem;
$height-container: 100%;
$color-white: #fff;
$second-color: #f3950d;
$line-boder-fill: #9c27b0;
$line-boder-empty: #bdbdbd;
/*Fonts*/
$poppins : 'Poppins', sans-serif;
$roboto: 'Roboto';
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $poppins;
    font-size: 20px;
    scroll-behavior: smooth;
}
*::after,
*::before{
    box-sizing: inherit;
}
body{
    background-color: $bgc;
    overflow-x: hidden;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: $height-container;
    padding: $padding-container;
}
main h2{
    color:$color-white;
    font-size: 3rem;
    text-align: center;
}
/*Import modules*/
@import 'header.scss';
@import 'parallax.scss';
@import 'about.scss';
@import 'navbar.scss';
@import 'cards.scss';
@import 'footer.scss';
@import 'fadeIn.scss';
@import 'responsive.scss';
@import 'darkmoder.scss';
