@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Roboto:ital@1&display=swap");
@font-face {
  font-family: "Roboto";
  src: url("../resources/fonts/Roboto/Roboto-Medium.ttf");
}
/* variables */
/* Colors */
/*Fonts*/
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

*::after,
*::before {
  box-sizing: inherit;
}

body {
  overflow-x: inherit;
  background-color: #020412;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem 2rem;
}

main h2 {
  color: #fff;
  font-size: 2rem;
  text-align: center;
}

/*Import modules*/
header {
  width: 100%;
  height: 100vh;
  padding: 0 8.5%;
  position: relative;
  color: #fff;
  /* Bars menu */
}
header .logo {
  width: 80px;
  cursor: pointer;
}
header .darkmoder-icon {
  cursor: pointer;
  font-size: 2rem;
}
header .bars__menu {
  display: none;
  width: 30px;
  height: 30px;
  position: relative;
  bottom: -8px;
}
header .bars__menu:hover {
  cursor: pointer;
}
header .bars__menu span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #f3950d;
  margin-top: 6px;
  transform-origin: 0px 100%;
  transition: all 300ms;
}

@-webkit-keyframes move {
  40%, 60% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes move {
  40%, 60% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0);
  }
}
.fa-sun {
  color: #f7e018;
  transition: all 0.7s ease;
}

.fa-moon {
  color: #9c27b0;
  transition: all 0.7s ease;
}

.move {
  -webkit-animation: move 0.5s;
          animation: move 0.5s;
}

.activeline1__bars-menu {
  transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__bars-menu {
  opacity: 0;
  margin-left: -30px;
}

.activeline3__bars-menu {
  transform: rotate(-45deg) translate(-4px, 2px);
}

.top-btn {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  right: 40px;
  bottom: 10px;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  z-index: 999;
}
.top-btn .fas.fa-arrow-up {
  position: relative;
  bottom: -20%;
  color: #000;
  font-size: 2rem;
}

.top-btn.hidden {
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in-out;
}

.parallax {
  display: flex;
  justify-content: center;
  background: center fixed url("../resources/images/programing.jpg");
  background-size: cover;
  border-radius: 20px;
  box-shadow: 0 5px 10px #fff;
  height: 80%;
  width: 100%;
  overflow: hidden;
}

.text-box {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 1rem;
  width: 100%;
  height: 100%;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 26px;
}

.typing-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 50px;
  line-height: 160px;
}

.typing-text span {
  position: relative;
  bottom: -15px;
  font-size: 1.5em;
  margin-bottom: 15px;
}

.text-box a {
  margin-top: 30px;
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #f3950d;
  color: #f3950d;
  padding: 10px 30px;
  text-decoration: none;
}

.text-box .btn {
  background-color: #f3950d;
  color: #000;
  margin: 30px;
  font-weight: 600;
}

.user-img {
  width: 600px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/*Text typing vanilla JS*/
.auto-input {
  margin-left: 10px;
  font-weight: normal;
  color: #f3950d;
}

.auto-input::after {
  content: "";
  margin-left: 4px;
  width: 1px;
  height: 5%;
  border-right: 4px solid #f3950d;
  -webkit-animation: blink 0.5s infinite ease;
          animation: blink 0.5s infinite ease;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*About*/
#about {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

.description {
  color: #fff;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  width: 50%;
}

/* Progress Bar */
.fa-html5 {
  font-size: 2.8rem;
  color: #ff5773;
}

.fa-css3-alt {
  font-size: 2.8rem;
  color: #264de4;
}

.fa-js {
  font-size: 2.8rem;
  color: #f7e018;
}

.fa-vuejs {
  font-size: 2.8rem;
  color: #0f9523;
}

.container-progressbar {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: "";
  background-color: #bdbdbd;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
  transition: 0.4s ease;
}

.progress {
  background-color: #9c27b0;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 8px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.container-progressbar .circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 62px;
  width: 67px;
  border: 4px solid #b2bec3;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}

.container-progressbar .circle.active {
  border-color: #9c27b0;
}

.container-progressbar .btn {
  background-color: #9c27b0;
  color: #fff;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.container-progressbar .btn:focus {
  outline: 0;
}

.container-progressbar .btn:active {
  transform: scale(0.97);
}

.container-progressbar .btn:disabled {
  background-color: #bdbdbd;
  cursor: not-allowed;
}

.burbuja-texto {
  /* display: none; */
  position: absolute;
  top: -80px;
  left: -15px;
  width: 80px;
  height: 50px;
  background-color: #f3950d;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.burbuja-texto::after {
  content: "";
  position: absolute;
  bottom: -25%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid #f3950d;
  right: 37%;
}

.burbuja-texto p {
  color: #000;
  font-style: italic;
  font-weight: 700;
  font-size: 17px;
}

nav {
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0 10px;
}
nav ul {
  flex: 1;
  text-align: center;
  padding-right: 40px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
}
nav ul li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 17px;
  transition: 0.3s;
}
nav ul li a:hover {
  color: #f3950d;
}
nav ul li a:after {
  content: "";
  position: absolute;
  background-color: #f3950d;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
nav .nav-right {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

nav ul li a:hover:after {
  width: 100%;
}

/* Cards */
.cards {
  margin: 0 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}

#portfolio h2 {
  opacity: 0;
  visibility: hidden;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  margin: 15px;
}

.card {
  opacity: 0;
  visibility: hidden;
  position: relative;
  width: 300px;
  height: 350px;
}

.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 5px 10px #000;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #fff;
}

.card .back .link {
  border-top: 1px solid #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.card .back .link a {
  color: #f3f3f3;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

/* Formulario */
/* label{
    position: relative;
}
label input{
    font-size: 1.1rem;
    background: #f1f7fe;
    color: #052a4e;
    padding: 1rem 1.15rem;
    outline: none;
    width: 25rem;
    border-radius: 3px;
    border: 2px solid rgba(5, 42, 78, 0.2);
    transition: border-color 0.4s ease;
}
label input:focus{
    border-color: #0f81f0
}
label p{
    color: rgba(5, 42, 78,0.5);
    font-size: 1.2rem;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.8rem;
    padding:  0 0.5rem;
    background: #f1f7fe;
    transition-property: top, font-size, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
}
label input:focus + p,
label input:not(:placeholder-shown) + p{
    top: 0;
    font-size: 0.95rem;
    color: #0f81f0;
}
label input:not(:focus)  p {
    color: rgba(5, 42, 78, 0.5);
} */
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  min-width: 400px;
  background-color: rgba(250, 250, 250, 0.1);
  box-shadow: 0 5px 10px #fff;
  padding: 15px;
  margin: auto;
  color: #f3950d;
  border-radius: 30px;
}
.form .form-group {
  margin-top: 15px;
  width: 50%;
  height: 50px;
  width: 300px;
  position: relative;
  overflow: hidden;
}
.form .form-group .text-name {
  position: absolute;
  bottom: 5px;
  left: 0;
  transition: all 0.3s ease;
  font-size: 1.2rem;
  color: #fff;
  background: none;
}
.form .form-group input {
  width: 100%;
  height: 150%;
  background: none;
  font-size: 1.2rem;
  background-color: #020412;
  color: #fff;
  border: none;
  padding-bottom: 2px;
  outline: 0px;
}
.form .form-group input:focus + .lb .text-name, .form .form-group input:valid + .lb .text-name {
  transform: translateY(-100%);
  font-size: 0.9rem;
  color: #fff;
}
.form .form-group label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.form .form-group label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #ffa425;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.form-group input:focus + .lb:after,
.form-group input:valid + .lb:after {
  transform: translateX(0%);
}

.form-group-acept {
  margin-top: 30px;
  font-size: 1.2rem;
  position: relative;
  color: #fff;
  display: block;
}

.btn-submit {
  /* box-shadow: 0px 10px 14px -7px #3e7327; */
  background-color: #f3950d;
  border-radius: 4px;
  border: 1px solid #ffa425;
  display: inline-block;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 6px 45px;
  text-decoration: none;
  margin-top: 30px;
}
.btn-submit:hover {
  background: linear-gradient(to bottom, #ffa425 5%, #ffa425 100%);
  background-color: #ffa425;
}
.btn-submit:active {
  position: relative;
  top: 1px;
}

.formulario__input-error {
  font-size: 16px;
  margin-bottom: 0;
  display: none;
}

.formulario__input-activo {
  display: block;
}

#formulario__mensaje-error {
  background-color: rgba(255, 0, 0, 0.5);
  padding: 15px;
  margin-bottom: 7px;
  display: none;
}

#formulario__mensaje-successful {
  background-color: rgb(123, 216, 96);
  padding: 15px;
  margin-top: 7px;
  text-align: center;
  display: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  caret-color: rgb(71, 7, 7);
  -webkit-text-fill-color: rgb(65, 65, 65);
  /* -webkit-box-shadow: 0 0 0px 1000px white inset; */
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

/*Footer*/
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

footer > * {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.7);
}

footer .redes {
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin: 20px;
}

.fa-linkedin {
  color: #0072b1;
  font-size: 2rem;
}

.fa-github {
  color: #fff;
  font-size: 2rem;
}

.fa-twitter {
  color: #1da1f2;
  font-size: 2rem;
}

.fa-instagram {
  color: #fbad50;
  font-size: 2rem;
}

footer:last-child p {
  color: #fff;
  text-decoration: underline;
  font-size: 1.5rem;
}

main > * {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
}

.visible {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translateY(0);
  transition: all 0.7s ease;
}

#portfolio {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.card:nth-child(even) {
  transform: scale(0.5) translateX(100px);
}

.card:nth-child(odd) {
  transform: scale(0.5) translateX(-100px);
}

#portfolio.visible h2 {
  opacity: 1;
  visibility: visible;
  transition: all 0.7s ease;
}

#portfolio.visible .card {
  opacity: 1;
  visibility: visible;
  transform: scale(1) translateX(0px) !important;
  transition: all 0.7s ease;
}

/*Media Queries Responsive*/
@media screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }

  nav {
    height: 15%;
  }
}
@media screen and (max-width: 912px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  nav {
    justify-content: space-between;
  }

  nav ul {
    display: none;
    height: 100vh;
    z-index: 100;
    touch-action: none;
  }

  .bars__menu {
    display: block !important;
  }

  .typing-text {
    flex-direction: column;
  }

  .cards {
    grid-template-columns: 1fr 1fr;
  }

  #about {
    flex-direction: column;
  }
}
@media screen and (max-width: 540px) {
  .text-box {
    width: 90%;
  }

  .typing-text {
    font-size: 30px;
    line-height: 25px;
    width: 100%;
  }

  .logo {
    width: 60px !important;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .description {
    margin-top: 15px;
    font-size: 15px;
  }
}
/* Responsive Elements class active */
nav ul.active {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  font-size: 75px;
  font-weight: bold;
  background-color: #020412;
}

nav .logo.disable {
  display: none;
}

nav .darkmoder-icon.disable {
  display: none;
}

nav .bars__menu.active {
  position: absolute;
  right: 0;
  top: -20px;
  margin: 20px;
  z-index: 999;
}

/*Darkmoder*/
body {
  transition: all 0.7s ease;
}
body.darkmoder {
  font-family: "Roboto";
  background-color: rgba(0, 0, 0, 0);
}
body.darkmoder nav ul li a {
  color: #020412;
  font-weight: bold;
}
body.darkmoder nav ul li a:hover {
  color: #f9ce31;
}
body.darkmoder h2 {
  color: #020412;
}
body.darkmoder .parallax {
  box-shadow: 0 5px 10px #000;
}
body.darkmoder main article {
  color: #020412;
}
body.darkmoder .bars__menu span {
  background-color: #020412;
}
body.darkmoder ul.active {
  background-color: #fff;
}
body.darkmoder .logo {
  position: relative;
  background: #000;
  border-radius: 50%;
  padding: 10px;
  top: -25px;
}
body.darkmoder .top-btn {
  background-color: #020412;
}
body.darkmoder .top-btn .fas.fa-arrow-up {
  color: #fff;
}
body.darkmoder #portfolio h2 {
  color: #020412;
}
body.darkmoder #portfolio .card .back {
  box-shadow: 0 5px 10px #000;
}
body.darkmoder .form {
  background-color: rgba(250, 250, 250, 0.8);
  box-shadow: 0 5px 10px #000;
}
body.darkmoder .form .text-name {
  color: #020412;
}
body.darkmoder .form input {
  background-color: #fff;
  color: #020412;
}
body.darkmoder footer {
  background-color: #f0f0f0;
  box-shadow: 0 5px 10px #000;
  border-radius: 50px;
  width: 90vw;
}
body.darkmoder footer .fab.fa-github {
  color: #fff;
  background-color: #000;
  border-radius: 50%;
}
body.darkmoder footer p {
  color: #020412;
  font-weight: bold;
}/*# sourceMappingURL=styles.css.map */